*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.nav{
    display: flex;
    height:40px;
    width:100%;
    border-bottom: solid white 1px;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    /* color: white; */
}

.item{
    display: flex;
    justify-content: center;
    width:10%;
    
}

.item>a{
    color: white;
    text-decoration: none;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input{
    width: 100%;
    border: none;
    height: 40px;
    border-bottom: solid white 1px;
}

#Signup{
    width: 20%;
    height:40px;
    background-color: white;
    color: black;
    
}

#Smessage{
    color: green;
}
#emsg{
    color: red;
}